<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Home Page</h1>

      <h3>Verify that you are Human</h3>
      <input type="text" placeholder="Enter the code here" [(ngModel)]="userInput">
      <p id="result">Code: {{answer}}</p>
      <button (click)="checkCode()">Check</button>

      <div *ngIf="final">
        <app-success></app-success>
      </div>
      <div>
        <app-warning *ngIf="!final && flag"></app-warning>
      </div>
    </div>
  </div>
</div>
